@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
}
.btn-green {
  @apply bg-green-500 text-white text-lg hover:bg-green-300 hover:text-black;
}
.btn-blue {
  @apply bg-blue-700 text-white text-lg hover:bg-black hover:text-white;
}
.btn-red {
  @apply bg-red-600 text-white text-lg hover:bg-red-500 hover:text-white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}